/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main:  #0D0D12;
    --bg-deep: #08080A;
    --bg-accent:  #1A0F24;
}

body {
    
    overflow-x: hidden;
    scroll-behavior: smooth;

   
  background:  radial-gradient(
    circle at top,
    var(--bg-accent),
    var(--bg-main) 40%,
    var(--bg-deep) 100%
  );
  color: var(--text-primary);
    
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: sticky;
    width: 100%;
   
    top: 0;
    z-index: 1000;
}

.logo  span{
    display: flex;
    align-items: center;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: bold;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    color: #EDEDED;
   
}
.logo  a{
    text-decoration: none;
   
}

.menu{
    min-width: 0;
     position: absolute;
    top: 100%;
    right: 0;
   
}
 .nav-wrapper{
    position: relative;
}
/* icono hamburguesa - menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 28px;
    height: 3px;
    background:#7B2CFF;
   border-radius: 2px;
   transition: 0.3s;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #A1A1AA;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid transparent;
    transition: border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu a:hover { 
    border: 1px solid #7B2CFF; 
}


@media (max-width: 768px) {

    header {
        padding: 1rem 1.5rem;
    }

    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: #111;
        z-index: 999;
        overflow-y: auto;
    }

    #menu:target {
    display: block;
  }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem 2rem;
        align-items: center;
        
    }

    .menu li {
        width: 100%;   
    }

    .menu a {
        display: inline-flex;
        width: auto;
        justify-content: center;
        padding: 0.75rem 1rem;
        text-align: center;
    }

 .menu a:hover {
    border-color: #7B2CFF;
    background: rgba(123, 44, 255, 0.08);
  }

}

section {
    width: 100%;
    min-height: 100vh;
    padding: 0 1rem 10rem 1rem;
    
}

@media (max-width: 768px) {
    section {
        
        padding: 0  0.5rem;
    }
    
}

                  /* Hero */

.hero {
    position: relative;
    min-height: 100vh;

    background-image: url(./images/imagen-de-fondo-para-hero.webp); /* Espacio para imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding-top: 6rem;
    
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

 background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.5)
  );
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  background: radial-gradient(
    circle at 30% 50%,
    rgba(0,0,0,0.3),
    transparent 60%
  );

  pointer-events: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 1.4rem;
    margin-left:  clamp(3rem, 10vw, 10rem);
    position: relative;
    z-index: 1;
 
 
}

h1 {
    font-size:  clamp(2.2rem, 6vw, 5.5rem);
    font-family: "Bebas Neue", cursive;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.06em;
    margin-bottom: 1rem;
    color: #EDEDED;
    text-align: left;
    max-width: 25ch;
}

.subtitle {
    font-size: clamp(1.8rem, 2vw, 2.8rem);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 0.5rem 0;
    text-align: left;
    color: #A1A1AA;
    opacity: 0.9;
    margin-bottom: 0.3rem;
}

.description {
    font-size: clamp(1.5rem, 1.8vw, 2.2rem);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding: 0.5rem 0;
    text-align: left;
    color: #A1A1AA;
    opacity: 0.9;
}

 

.button-cta{
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: rgba(255, 31, 31, 0.08) ;
    border: 2px solid #FF1F1F;
    color: #FF1F1F;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin: 2.2rem 0 0 0;
    font-family: "Inter", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.button-cta:hover {
   color: #fff;
   font-weight: 600;
   background-color: #FF1F1F ;
  border-color: #FF1F1F;
  box-shadow: 0 8px 20px rgba(255, 31, 31, 0.25);
  transform: translateY(-2px);
  transition: all 0.5s ease;
}

                           /* Mobile Hero */

@media (max-width: 768px) {
    .hero {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    .hero-content {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        margin-left:  0;
    }

    h1 {
        text-align: center; 
    }
    .subtitle {
        text-align: center;
   
}

    .description {
         text-align: center;
        }

    .button-cta:active {
         color: #fff;
        font-weight: 600;
        background-color: #FF1F1F ;
        border-color: #FF1F1F;
        box-shadow: 0 8px 20px rgba(255, 31, 31, 0.25);
        transform: translateY(-2px);
         transition: all 0.5s ease;
}

}

                              /* Galería */

h2 {
     font-size:  clamp(2.2rem, 6vw, 5.5rem);
    font-family: "Bebas Neue", cursive;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.06em;
    margin-bottom: 1rem;
    color: #EDEDED;
    text-align: center;
   
}


  .gallery .subtitle {
    text-align: center;
    
}

.gallery .description {
    text-align: center;
    
}

.gallery {
    padding: 6rem 2rem;
    text-align: center;
    
}

                              /* Mobile gallery */

@media (max-width: 768px) {
    .gallery {
        padding: 2rem 1rem;
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 4rem auto;
}


.grid-item img {
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border: 1px solid  rgba(123,44,255,0.2);
    border-radius: 8px;
    transition: transform 0.3s;
}

.grid-item img:hover {
    transform: scale(1.03);
   border-color: #7B2CFF;
    box-shadow: 0 8px 20px rgba(123,44,255,0.25);
    transition: all 0.5s ease;
}



@media (max-width: 768px) {
    .grid-container {
        grid-template-columns:  repeat(2, 1fr);
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
    
}

.about {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
       
}


.about-content {
   position: relative;
  z-index: 1;
  max-width: 700px;
  
}

.about-content .subtitle,
.description{
    text-align: center;
    padding-top: 1rem; 
}

                                   /* Mobile about */

@media (max-width: 768px) {
    
    .about-content {
       max-width: 100%;
       padding: 0.5rem;
    }
}

                                    /* FAQ */

.faq{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    max-width: 1200px;
    margin: 4rem auto;
   
}
.faq h2{
     grid-column: 1/-1;
     text-align: center;
}

.faq-item {
    padding: 1rem;
    border: 2px solid #7B2CFF;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
.faq-item:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
     background-color: rgba(255, 255, 255, 0.02);
}
.faq-item h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0.05rem;
    color: #A1A1AA;
    font-family: "Inter", sans-serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
}
.faq-item p {
    font-size: clamp(0.9rem, 2vw, 1.25rem);
    text-align: center;
    padding: 0.5rem;
}


 @media (max-width: 768px) {
    .faq {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
         margin: 1rem auto;
        
    }
 }

@media (max-width: 480px) {
    .faq {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
         margin: 1rem auto;
    }
    
}  



      .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  1rem;
        max-width: 800px;
        margin: 0 auto;

    }
    .contact a{
        text-decoration: none;
        color: #FF1F1F ;

    }
    .contact a:active, .contact a:hover{
        text-decoration: underline;
        color: #FF1F1F ;

    }

    .contact-info{
    margin: 3rem 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #7B2CFF;
}
.contact-info:hover{
        background-color: rgba(123, 44, 255, 0.08);
        box-shadow: 0 8px 20px rgba(123,44,255,0.25);
        transition: all 0.5s ease;
        border: 2px solid #7B2CFF;
}

@media (max-width: 768px) {
    .contact{
        max-width: 600px;
    }
}

      footer {
    text-align: center;
    
}
footer p {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    
}
.social-links a {
    color: #7B2CFF;
    font-family: "Inter", sans-serif;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    
}
.social-links a:hover {
      color: #fff;
    background: rgba(123, 44, 255, 0.15);
    transform: translateY(-2px);
    border-radius: 6px;
}
.whatsapp-link {
  position: fixed;
  bottom: 40px;
  right: 80px;

  width: 80px;
  height: 80px;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: radial-gradient(
    circle at top,
    rgba(26, 15, 36, 0.75),
    rgba(13, 13, 18, 0.9)
  );
  backdrop-filter: blur(8px);
   box-shadow: 0 8px 30px rgba(0,0,0,0.45);

  border: 1px solid rgba(26, 15, 36, 0.4);
 transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

}

.whatsapp-link:hover {
  transform: scale(1.08);
  background: rgba(26, 15, 36, 0.7);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.whatsapp-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(37, 211, 102, 0.25));
}

@media (max-width: 768px) {
    .whatsapp-link {
        width: 50px;
        height: 50px;
        bottom: 40px;
        right: 30px;
    }
}